* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f8deeb;
}

img {
  display: block;
}

p,
a,
h1,
h2,
h3,
h4,
h5,
span {
  font-family: "Nunito", sans-serif;
  color: black;
  text-decoration: none;
}
