.page-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Header page logo */
.page-header > img {
  height: 500px;
  width: 300px;
  object-fit: contain;
}

/* Text container on header page */
.page-header > div {
  padding-right: 25px;
}

/* Text on header page */
.page-header > div > h1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-align: end;
  color: rgb(243, 20, 131);
}

.page-header > div > p {
  color: rgb(46, 46, 46);
}
